.env
.env.*
!.env.example
.DS_Store
__pycache__/
.idea/
KMS/
.venv/
.vscode/
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
pip-wheel-metadata/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
htmlcov/
__pycache__/
